.header{
    font-size: 30px;
    color:rgb(255, 255, 255);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

html, body {
    margin: 0;
    height: 100%;
}

.text {
    font-size: 15px;
    color:rgb(227, 211, 225);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title {
    font-size: 50px;
    color:aliceblue;
    position:absolute;
    left: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 1;
}

#indexBackground {
    width:100%;
    height: 70vh;
    background-image: url("tableofcontents.png");
    border:0;
    background-size:cover;
    background-attachment: fixed;
    background-position: top;
}

#indexOfContents {
    position: absolute;
    left: 100px;
    font-size: 15px;
    color:rgb(222, 234, 243);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border:solid rgb(81, 88, 93, 0.61);
    border-width: 0px 5px 0px 5px;
    background-color: rgba(51, 55, 58, 0.5);
}

#titleBox {
    font-size: 50px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 100%;
    position:absolute;
    color:rgb(232, 242, 248);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 1;
    background-color: rgb(45, 50, 53);
}

#gerp {
    position: relative;
    width: 100%;
    background-image: url("pixelart.jpg");
}

.blocktext {
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    color:rgb(204, 225, 240);
    border: solid rgb(36, 36, 36);
    border-width: 5px 0px 0px 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(rgba(52, 60, 66, 0.7), 20px, rgba(157, 167, 175, 0.3));
    position: relative;
}

#gerpVideo {
    position: absolute;
    right: 15vw;
    top: 50px;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}

.videoCaption {
    position: absolute;
    top: 300px;
    font-size: 15px;
    color:rgb(227, 211, 225);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#photosVideos {
    position: absolute;
    top: 100px;
    right: 15vw;
}

#hashtable {
    position: absolute;
    top: 50px;
    right: 5vw;
}

#ramtime {
    position: absolute;
    top: 10px;
    right: 15vw;
    width: 500px;
}

#itsonlyme {
    position: relative;
    width: 100%;
    height: 1500px;
    background-image: url("journey.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.header2 {
    font-size: 30px;
    color:rgb(255, 255, 255);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("pixelart.jpg");
    margin: 0px;
    padding: 0px;
}

#gameVideo {
    position: absolute;
    top: 0px;
    right: 15vw;
}

#photoCaption {
    line-height: 2 ;
    width: 450px;
}

#textboxie {
    position: absolute;
    right: 5vw;
    top: 40px;
}

#openTab {
    background-color: rgba(52, 35, 68, 0.658);
    position: absolute;
    right: 65px;
    top: 70px;
    width: 650px;
    border: solid rgba(52, 35, 68, 0.5);
    border-width: 10px 0px 10px 0px;
    z-index: 1;
    opacity: 0;
    transition-duration: 1s;
}

#tab {
    text-align: center;
    width: 180px;
    background-color: rgba(52, 35, 68, 0.658);
}

#archOverview {
    min-height: 100vh;
}

#conversation {
    position: absolute;
    right: 5vw;
    top: 450px;
}