#titleBox {
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 100%;
    height: 20vh;
    position:relative;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 1;
    background-image: url("klymenearts.png"), linear-gradient(rgba(81, 125, 196, 0.429), 70%, rgba(0, 0, 0, 0)), url("visdev.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center, center, 50% 80%;
    background-size: 30%, cover, cover;
}

#categoriesBar {
    z-index: 1;
    position: sticky;
    top: 0;
    width: 100%;
    height: 8vh;
    background-image:linear-gradient(rgb(0, 0, 0), 10px, rgb(0, 0, 0));
    display: flex;
    justify-content: center;
}

#barShadow {
    width: 100%;
    height: 3vw;
    background-image:linear-gradient(rgba(0, 0, 0, 0.78), 1vw, rgba(71, 105, 105, 0));
    position: absolute;
    top: 8vh;
}

.category {
    pointer-events: stroke;
    font-size: 1.2vw;
    height: 8vh;
    color:rgb(227, 227, 227);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:rgb(36, 50, 49, 0);
    align-items:center;
    display: flex;
    justify-content:center;
    transition-duration: 0.5s;
}

.category:hover {
    background-color:rgb(66, 66, 66);
    transition-duration: 0.5s;
}

.category-c1:hover {
    background-color:rgba(213, 213, 213, 0.65);
    font-size: 1.5vw;
}

#barPosition {
    display: flex;
    flex-direction: row;
}

.contacts {
    height: 2vw;
    float: right; 
}

@media screen and (max-width: 414px) {
    .category {
        font-size: 2.4vw;
    }
    .category-c1:hover {
        font-size: 3vw;
    }

 }
