.header{
    font-size: 2.4vw;
    color:rgba(154, 186, 233, 0.857);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.header-1 {
    font-size: 1.5vw;
}

html, body {
    margin: 0;
    height: 100%;
}

.text {
    font-size: 1.5vw;
    color:rgb(70, 63, 156);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text2 {
    padding: 0px;
    margin: 0px;
    font-size: 1.5vw;
    color:rgb(255, 255, 255);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 0;
    transition-duration: 0.3s;

}

.caption {
    color: black; 
    font-size: 1vw;
}

.title {
    margin: 0px;
    font-size: 4vw;
    color:aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#dropdownMenu {
    display: flex;
    flex-direction: column;
    width: 23vw;
    position: relative;
    left: 3vw;
    transition-duration: 1s;
}

.tab {
    display: inline-block;
    margin-left: 1vw;
}

#home {
    margin: 0px;
    padding: 0px;
    padding-bottom: 5vw;
    font-size: 13px;
    background-image: linear-gradient(rgb(11, 32, 46), 50px, rgba(236, 140, 196, 0)), url("klymeneartsHeader.png");
    background-size: cover;

}

.tab2 {
    display: inline-block;
    margin-left: 3vw;
}
.tab3 {
    display: inline-block;
    margin-left: 7vw;
}

.titleShadow {
    margin: 0px;
    padding: 0px;
    margin-bottom: 5vw;
    width: 82vw;
    border: solid rgba(154, 186, 233, 0.623);
    border-width: 2px 0px 0px 0px;
    background-image: linear-gradient(rgba(39, 101, 132, 0.531), 5px, rgba(239, 225, 234, 0.501));
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align:center;
    align-items:center;
}

#commissions {
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(rgba(25, 72, 80, 0.44), 90%, rgb(20, 178, 187)), url("visdevf.jpg");
    background-size: cover;
    background-position: center;
}

#directions {
    text-align:center;
    align-items:center;
    display:flex;
    justify-content:center;
    flex-direction: column;
    padding-bottom: 5vw;
    margin-bottom: 3vw;
    padding-top: 5vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.249), rgba(255, 255, 255, 0.255));
}

.arrows {
    max-height: 1vw;
}

.arrowswhite {
    max-height: 2vw;
}

.down {
    transform: rotate(180deg);
}

#form {
    margin: 20px;
    border: 0;
    position: relative;
    left: 15vw;
    bottom: 0vh;
    width: 60vw;
    height: 35vw;
}

.priceText {
    color:rgb(255, 167, 204);
}

.text3 {
    color:rgb(255, 255, 255);
    font-size: 1.5vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.priceCategory {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.pic {
    width: 15vw;
    height: 15vw;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    transition-duration: 0.5s;
}

.pic-first {
    background-image: url('stylized.jpg');
}

.pic-second {
    background-image: url('hallquin.png');
}

.pic-third {
    background-image: url('stylized3.jpg');
}

.pic-fourth {
    background-image: url('stylized4.jpg');
}


.pic:hover{
    background-size: 120%;
    transition-duration: 0.5s;
}

.shadow {
    display: none;
    height: 100%;
    width: 100%;
    background-color: rgba(52, 73, 94, 0.75);
    text-align: center;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}

.picWide:hover .shadow,
.pic:hover .shadow {
    display: flex;
}

.picWide:hover {
    background-size: 130%;
    transition-duration: 0.5s;
}

.pic-5th {
    background-image: url('detailed.jpg');
}

.pic-6th {
    background-image: url('detailed2.jpg');
}

.pic-fb1 {
    background-image: url('portfolio/fullbody.jpeg');
    background-position-y: 25%;
}

.pic-fb2 {
    background-image: url('fullbody.jpg');
    background-position-y: 25%;
}

.pic-fb3 {
    background-image: url('fullbody4.jpg');
}

.picWide-e1 {
    background-image: url('portfolio/treeoflife.png');
}

.picWide-e2 {
    background-image: url('portfolio/background.png');
}

.picWide-e3 {
    background-image: url('portfolio/buildings.png');
}

.picWide-c1 {
    background-image: url('portfolio/recoloredmultiple.png');
}

.pic-c2 {
    background-image: url('christmasF.jpg');
}

.picWide-c3 {
    background-image: url('circes\ island.jpg');
    background-position-y: 75%;
}

.picWide {
    width: 22.5vw;
    height: 15vw;
    background-size: 100%;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    transition-duration: 1s;
    background-position-x: center;
    background-repeat: no-repeat;
}

.picShadow {
    position: absolute;
    bottom: -4px;
    width: 200px;
    height: 40px;
    background-image: linear-gradient(rgba(32, 33, 53, 0.418),10px, rgba(178, 199, 233, 0));
}

#cartIcon {
    width: 4vw;
}

@media screen and (max-width: 414px)  {
    .title {
         font-size: 8vw;
    }
    .text {
         font-size: 2vw;
    }
    .header {
         font-size: 6vw;
    }
    .header-1 {
        font-size: 3vw;
    }
    .text3 {
        font-size: 2vw;
    }
    .caption {
        font-size: 2vw;
    }
    #cartIcon {
        width: 8vw;
    }
    #Portfolio {
        height: 90vh;
    }
 }

@media screen and (max-width: 1200px) {
    .instagramRow {
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        display: flex;
    }
    .instagramRow-row1 {
        position: absolute;
        top:20px;
    }
    
    .instagramRow-row2 {
        position: absolute;
        top: 1141px;
    }

    #home {
        height: 2500px;
    }

    .titleShadow-1 {
        height: 2350px;
    }
}

@media screen and (min-width: 1201px) { 
    .instagramRow {
        display: flex;
        flex-direction: row;
        margin: 0px;
        padding: 0px;
        position: absolute;
    }
    
    .instagramRow-row1 {
        position: absolute;
        top:20px;
    }
    
    .instagramRow-row2 {
        position: absolute;
        top: 400px;
    }

    #home {
        height: 1000px;
    }

    .titleShadow-1 {
        height: 800px;
    }
}

.post {
    width: auto; 
    height: 380px;
    margin: 10px;
    padding: 10px;
}

#Portfolio {
    height: 120vh;
    background-image: linear-gradient(rgba(13, 1, 7, 0.475), rgba(247, 169, 218, 0.496)), url("portfolio/treeoflife.png");
    background-position: bottom center;
}

#artstation {
    position: relative;
    left: 3vw;
    width: 93vw;
    height: 50vh;
}

#formBackground {
    height: 45vw; 
    background-image:linear-gradient(rgba(11, 58, 48, 0),5%, rgb(11, 58, 48));
}

.title-1 {
    font-size: 2.5vw;
    color:rgb(11, 58, 48);
}

#slideshow {
    max-height: 40vw;
    max-width: 60vw;
}

#slideshowBackground {
    float: right;
    margin-right: 8vw;
    height: 40vw;
    width: 60vw;
    /* background-color: rgba(61, 58, 90, 0.493); */
    text-align:center;
    align-items:center;
    display: flex;
    justify-content:center;
}

#forwardArrow {
    width: 5vw;
    height: auto;
}

#backwardsArrow {
    width: 5vw;
    height: auto;
    transform: rotate(180deg);
    transition-duration: 1s;
}

#forwardArrow:hover {
    width: 5.5vw;
    transition-duration: 1s;
}

#backwardsArrow:hover {
    width: 5.5vw;
    transition-duration: 1s;
}

#cart {
    transition-duration: 0.3s;
    width: 5vw;
    height: 5vw;
}

#store {
    background-color: black;
    width: 100%;
    margin: 0px;
    position: relative;
    padding: 0px;
    padding-bottom: 2vw;
    align-items: center;
}

#storeTitle {
    color: white; 
    text-align: center;
    padding-top: 3vw;
}


#item {
    margin-top: 2vw;
    padding-left: 3vw;
    position: relative;
    color: white; 
    display: flex;
    flex-direction: row;
}

#item::before{
    content: '';
    position: absolute;
    border: solid white;
    border-width: 0px 0px 0.2vw 0px;
    height: 100%;
    width: 90vw;
 } 



